* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
}

header {
    background-color: rgb(211, 43, 43);
    color: black;
    padding: 15px;
    text-align: center;
    line-height: 1.6;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
    color: yellow;
}

.container {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px;

    border-radius: 15px;
}

.container h2 {
    color: rgb(192, 65, 65);
}

.text1 {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.text1 h2 {
    color: rgb(192, 65, 65);
}

.products {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.products h2 {
    color: rgb(192, 65, 65);
}
.child {
    background-color: wheat;
    padding: 20px;
    height: 200px;
    width:150px;
    border-radius: 5px;

   
}
.child img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
#card{
    padding: 30px;
    margin: 10px;
    display: flex;
    gap: 20px;
    text-align: center;
}
.price {
    background-color:white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
.price h2 {
    color: rgb(192, 65, 65);
}
table{
    width: 25%;
    height:150px;
    text-align: center;
    border-collapse: collapse;
}

.order {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
.order h2 {
    color: rgb(192, 65, 65);
}
form {
    background-color: wheat;
    padding: 20px;
    border-radius: 15px;
    gap: 5px;
}
.footer {
    background-color: rgb(211, 43, 43);
    color: white;
    padding: 15px;
    text-align: center;
    line-height: 1.6;
}